@import 'static/css/styles';

.about {
	@include width-full();
}

.about__content {
	align-items: center;
	display: flex;
	flex-direction: column;
	
	@include media(tablet-p) {
		align-items: flex-start;
		flex-direction: row;
	}
	
}

.about__img {
	@include box-shadow();
	@include circle();
	@include margin-y();
	border: 3px solid #fff;
	height: auto;
	width: 150px;
	
	@include media(tablet-p) {
		@include no-margin();
	    @include margin-r-lg();
		width: 250px;
	}
	
}