{
    "presets": [
        "next/babel",
        "@babel/preset-env",
        "@babel/preset-react",
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "components": "./components",
                    "static": "./static"
                }
            }
        ]
    ]
}
