$body-border: 6px solid palette(primary, b);

body {
	border-top: $body-border;
	border-bottom: $body-border;
	overflow: hidden;
}

.wrap {
	@include wrap();
}

.wrap--narrow {
	@include wrap-narrow();
}

.band {
	@include band();
}

.band--thin {
	@include band-thin();
}
