@import 'static/css/styles';

.external-links {
	@include width-full();
	list-style: none;
}

.external-links__item {
	display: inline;
}

.external-links__item:not(:last-of-type) {
	@include margin-r();
}

.external-links__link {
	@include transition();
	// filter: grayscale(1);
	font-size: rem($base-font-size * 2);
	// opacity: 0.75;

	&:focus,
	&:hover {
		// filter: grayscale(0);
		// opacity: 1;
	}

}

.external-links__link-text {
	@include margin-l();
	@include strong();
	@include uppercase();
	@include visually-hidden();
	font-size: rem($base-font-size);
	vertical-align: middle;
}
