@import 'static/css/styles';

.portfolio {
	@include padding-y();
	display: flex;
	flex-wrap: wrap;
	
	@include media(tablet-p) {
	    @include padding-y-lg();
	}
}

.portfolio__wrap {
	@include padding-x();
	
	@include media(tablet-p) {
	    @include no-padding();
	}
	
}

.portfolio-item {
	@include padding-b();
	@include width-full();
	display: flex;
	flex-direction: column;
	
	@include media(tablet-p) {
	    @include padding-b-xlg();
		flex-direction: row;
		
		&:nth-of-type(2n) {
			flex-direction: row-reverse;
		}
		
	}
	
	
}

.portfolio-item__img {
	@include width-full();
	
	@include media(tablet-p) {
		@include width-half();
	}
	
	img {
		@include margin-b-xsm();
		@include width-full();
		height: auto;
		opacity: 0.5;
	}

}

.portfolio-item__info {
	@include divider();
}

.portfolio-item__title {
	@include no-margin();
	@include padding-b-sm();
	@include sans-serif();
	@include strong();
	@include uppercase();
	color: palette(primary, black);
	font-size: rem($base-font-size);
}

.portfolio-item__content {
	@include padding-y();
	@include width-full();
	display: flex;
	flex-direction: column;
	
	@include media(tablet-p) {
		@include no-padding();
	    @include padding-l-lg();
		@include width-half();
	}
	
	.portfolio-item:nth-of-type(2n) & {
		
		@include media(tablet-p) {
			@include no-padding();
			@include padding-r-lg();
		}
		
	}
}

.portfolio-item__made-with {
	@include no-margin();
	@include margin-b();
	list-style: none;
	
	li {
		@include margin-b-xsm();
		@include sans-serif();
		color: rgba(palette(primary, bodyText), .75);
		display: inline-block;

		&:not(:last-of-type) {
			@include margin-r-xsm();
			
			&:after {
				content: ',';
			}
			
		}

	}

}

.portfolio-item__links {
	@include padding-t-xsm();
	@include padding-b-sm();
	display: flex;
	
	@include media(tablet-p) {
		display: flex;
	}
	
}

.portfolio-item__link {
	@include margin-r();
	
	@include media(tablet-p) {

		&:last-of-type {
			margin-right: 0;
		}
	
	}
	
	.fa {
		font-size: rem($base-font-size * 1.6);
	}
	
}