@import 'static/css/styles';

.portfolio {
	@include padding-y();
	display: flex;
	flex-wrap: wrap;

	@include media(tablet-p) {
	    @include no-padding();
	}

}

.portfolio__wrap {
	@include padding-x();

	@include media(tablet-p) {
	    @include no-padding();
	}

}

.portfolio-item {
	@include border-radius();
	@include box-shadow();
	@include margin-b();
	@include transition();
	@include width-full();
	background: palette(primary, white);
	opacity: 0;
	transform:translateX(-30%);

	&:nth-of-type(2n) {
		transform:translateX(30%);
	}

	@include media(tablet-p) {
		@include margin-b-lg();

		&:nth-of-type(2n) {

			.portfolio-item__inner {
				flex-direction: row;
			}

			.portfolio-item__content {
				@include no-padding();
				@include padding-r-lg();
			}

			.portfolio-item__meta-wrap {
				justify-content: flex-start;
			}

		}

	}

	&.active {
		opacity: 1;
		transform:translateX(0%);
	}

}

.portfolio-item__inner {
	display: flex;
	flex-direction: column-reverse;

	@include media(tablet-p) {
	    @include padding-lg();
		flex-direction: row-reverse;
	}

}

.portfolio-item__img {
	@include width-full();
	position: relative;

	@include media(tablet-p) {
		@include width-half();
	}

	&:after {
		@include position-bl(8px, 0);
		@include width-full();
		content: '';
		display: block;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		height: 30px;
	}

	@include media(tablet-p) {
		
		&:after {
			display: none;
		}

	}

	img {
		// @include border-b();
		@include border-radius(5px, 5px, 0, 0);
		@include margin-b-xsm();
		@include width-full();
		height: auto;

		@include media(tablet-p) {
			@include border();
		    @include border-radius();
		}

	}

}

.portfolio-item__info {
	@include divider();
}

.portfolio-item__title {
	@include no-margin();
	@include sans-serif();
	@include strong();
	@include uppercase();
	color: palette(primary, black);
	font-size: rem($base-font-size);
}

.portfolio-item__content {
	@include padding();
	@include width-full();
	display: flex;
	flex-direction: column;

	@include media(tablet-p) {
		@include no-padding();
	    @include padding-l-lg();
		@include width-half();
	}

}

.portfolio-item__made-with {

	ul {
		@include no-margin();
		list-style: none;

		li {
			@include text-small();
			display: inline-block;

			&:not(:last-of-type) {
				@include margin-r-xsm();

				&:after {
					content: ',';
				}

			}

		}

	}

}

.portfolio-item__links {
	@include padding-t-xsm();
	@include padding-b-sm();
	display: flex;

	@include media(tablet-p) {
		display: flex;
	}

}

.portfolio-item__link {
	@include margin-r();

	@include media(tablet-p) {

		&:last-of-type {
			margin-right: 0;
		}

	}

	.fa {
		font-size: rem($base-font-size * 1.6);
	}

}

.portfolio-item__meta-wrap {
	@include border-radius(0, 0, 5px, 5px);
	@include padding();
	background: palette(primary, band-background);

	@include media(tablet-p) {
		@include no-padding();
	    @include padding-y-lg();
		display: flex;
		justify-content: flex-end;
	}

}

.portfolio-item__meta-inner {
	display: flex;
	flex-wrap: wrap;

	@include media(tablet-p) {
		@include padding-x-lg();
		width: 50%;
	}

}

.portfolio-item__meta {
	@include text-small();
	opacity: 0.75;

	span:nth-of-type(2) {
		color: rgba(palette(primary, bodyText), .75);
	}

	&:not(:last-of-type) {
		@include border-b();
		@include padding-b();
		@include margin-b();
		@include width-half();

		@include media(tablet-p) {
			@include no-border();
			@include no-padding();
			@include no-margin();
			@include border-r();
			@include padding-r();
			@include margin-r();
			width: auto;
		}

	}

	&:last-of-type {

		@include media(tablet-p) {
			max-width: 59%;
		}

	}

}

.portfolio-item__meta-title {
	@include sans-serif();
	@include strong();
	@include no-margin();
	@include text-small();
}
