@import 'static/css/styles';

.site-logo {
	height: 40px;

	@include media(tablet-p) {
		height: 60px;
	}

}

.site-logo--footer {
	@include margin-b();
	filter: grayscale(1);
	opacity: 0.20;
	
	@include media(tablet-p) {
		@include no-margin();
	}
	
}