$palette: (
	primary: (
		a: #406eb3,
		b: #D65F59,
		bodyText: #333,
		black: #333,
		white: #fff,
		band-background: #F6EFE9
	),
	alert: (
		error: #f00,
		info: #015cae,
		success: #01943b,
		warning: #eeb320
	)
);
