$palette: (
	primary: (
		a: #406eb3,
		b: #0E9AA7,
		bodyText: #5d5d5d,
		black: #333,
		white: #fff,
		band-background: #f9f9f9
	),
	alert: (
		error: #f00,
		info: #015cae,
		success: #01943b,
		warning: #eeb320
	)
);
