@mixin wrap() {
	@include padding-x();
	@include width-full();
	margin: 0 auto;

	@include media(desktop) {
		width: 80%;
	}
}

@mixin wrap-narrow() {
	@include wrap();

	@include media(tablet-p) {
		width: 45%;
	}

}

@mixin band() {
	@include padding-y-lg();
	@include width-full();
	background: palette(primary, band-background);
}

@mixin band-thin() {
	@include band();

	@include media(tablet-l) {
	    @include padding-y-lg();
	}

}

@mixin divider($width: 1px) {

	&:after {
		@include margin-t();
		@include margin-b();
		content: '';
		display: block;
		border-bottom: $width solid palette(primary, b);
		width: 10%;
	}

}
