@import 'static/css/styles';

.site-footer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	@include media(tablet-p) {
	    flex-direction: row;
	}
	
}

.site-footer__copyright {
	@include no-margin();
	@include text-center();
	color: rgba(palette(primary, bodyText), .35);
}